@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}
body {
    background: #fbfbfb;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
}
input {
    background: #fbfbfb;
    border: none;
}
.btnDiv {
    margin-top: 50px;
}
.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: .4s;
    font-size: 20px;
    color: #fbfbfb;
    border-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
.btn:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}
#btnCalc {
    background: #009473;
    margin-right: 20px;
}
#btnDownload {
    background: #dd4124;
}
.setting {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}
.setting td:first-child {
    width: 120px;
}
.setting tr {
    display: block;
    margin: 5px;
}
.setting table:nth-child(2) tr:last-child {
    text-align: right;
}
#log {
    margin-top: 20px;
    resize: none;
}